/* Tools ----------------------------------------- */

.tools .logo {
    float: left;
    width: 80px;
    padding: 20px;
    margin: 20px 20px 10px 0;
    border-radius: 20px;
    border: 3px solid hsl(0,0%,100%);
    background-color: hsl(0,0%,95%);
    box-shadow: inset 0px 0px 1px hsla(0,0%,0%,.1),
                0px 1px 2px hsla(0,0%,0%,.3);
    background-image: -webkit-linear-gradient(-75deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.5) 50%, hsla(0,0%,100%,0) 50% ),
                      -webkit-linear-gradient(top, hsl(0,0%,97%), hsl(0,0%,90%) );
}

@media all and (max-width: 800px) {
    .tools .col:nth-of-type(2) {
        margin-top: 50px;
    }
}