/* Features ----------------------------------------- */

.features ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features li {
    padding: 10px 0;
    text-align: center;
}

.features .digit-Slider {
    width: 200px;
}

.features .arrow {
    padding: 10px 0 5px 0;
    font-size: 30px;
    color: hsl(0,0%,70%);
}

.features pre {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.2em;
    text-shadow: none;
    color: hsl(0,0%,50%);
}

.features .hl-number {
    color: blue;
}
.features .hl-range {
    color: red;
}
.features .hl-bindings {
    color: black;
}

.features .hl-value {
    color: black;
}

.features .block {
    display: inline-block;
    position: relative;
    margin: 20px 0 20px 30px;
    padding: 0 20px;
    border-left: 1px solid hsl(0,0%,80%);
}

.features .block::before {
    position: absolute;
    left: -30px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0,0%,70%);
    -webkit-transform-origin: left top;
       -moz-transform-origin: left top;
        -ms-transform-origin: left top;
         -o-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
       -moz-transform: rotate(-90deg) translateX(-100%);
        -ms-transform: rotate(-90deg) translateX(-100%);
         -o-transform: rotate(-90deg) translateX(-100%);
            transform: rotate(-90deg) translateX(-100%);
}

.features .block.serialization {
    margin-bottom: 60px;
}

@media all and (min-width: 800px) {
    .features .block::before {
        text-shadow: -1px 0px 0px hsla(0,0%,100%,.8);
    }
}

.features .markup::before {
    content: "HTML";
    top: 15px;
}
.features .serialization::before {
    content: "JSON Serialization";
    top: 32px;
}

/* Scroll Bar */
.features ::-webkit-scrollbar {
    -webkit-appearance: none;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: hsl(0,0%,90%);
}
.features ::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-clip: padding-box;
	background-color: hsl(0,0%,80%);
}

@media all and (max-width: 800px) {

    .features .block {
        display: block;
        position: relative;
        margin: 20px 0;
        padding: 0 ;
        border: none;
        overflow: auto;
    }
    .features .block pre {
        font-size: 12px;
        padding-bottom: 10px;
        white-space: pre;
        overflow: auto;
    }
    
    .features .block::before {
        display: block;
        position: relative;
        top: 8px;
        left: 0px;
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    
    .features .block.serialization{
        margin-bottom:20px;
    }

}
