<footer class="footer">
  <div class="wrapper">
    <ul class="sitemap">
      <li>
        <a href="{{ site.baseurl }}/" class="sitemap-main">Home</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/apps/" class="sitemap-main">Apps</a>
        <a href="{{ site.baseurl }}/apps/#gallery">Gallery</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/" class="sitemap-main">Docs</a>
        <a href="{{ site.baseurl }}/docs/montagejs-setup.html">Set Up</a>
        <a href="{{ site.baseurl }}/docs/hello-montagejs.html">Hello Mod</a>
        <a href="{{ site.baseurl }}/docs/montagejs-examples.html">Examples</a>
        <a href="{{ site.baseurl }}/docs/themes.html">Themes</a>
        <a href="{{ site.baseurl }}/docs/faq.html">FAQ</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/api/" class="sitemap-main">API</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/community/" class="sitemap-main"
          >Community</a
        >
        <a href="{{ site.baseurl }}/community/forum/">Forum</a>
        <a href="{{ site.baseurl }}/community/meet-ups/">Meet-ups</a>
        <a href="{{ site.baseurl }}/community/events/">Events</a>
        <a href="{{ site.baseurl }}/community/contact-us/">Contact us</a>
      </li>
      <li>
        <a class="sitemap-main" href="{{ site.baseurl }}/blog/">Blog</a>
      </li>
    </ul>

    <p class="footer-end">
      2012–2025 Mod — Open source and licensed under
      <a
        href="https://github.com/PhrontHQ/mod/blob/master/LICENSE.md"
        target="_blank"
        >BSD</a
      >
      |
      <a href="https://github.com/PhrontHQ/mod" target="_blank">GitHub</a>
      |
      <a href="https://github.com/PhrontHQ?tab=members" target="_blank"
        >Team</a
      >
    </p>
  </div>
</footer>
