<footer class="footer">

    <div class="wrapper">
    	
    	<ul class="sitemap">
            <li>
                <a href="/" class="sitemap-main">Home</a>
            </li>
            <li>
                <a href="/apps/" class="sitemap-main">Apps</a>
                <a href="/apps/#gallery">Gallery</a>
            </li>
            <li>
                <a href="/docs/" class="sitemap-main">Docs</a>
                <a href="/docs/montagejs-setup.html">Set Up</a>
                <a href="/docs/hello-montagejs.html">Hello MontageJS</a>
                <a href="/docs/montagejs-examples.html">Examples</a>
                <a href="/docs/themes.html">Themes</a>
                <a href="/docs/faq.html">FAQ</a>
            </li>
            <li>
                <a href="/api/" class="sitemap-main">API</a>
            </li>
            <li>
                <a href="/community/" class="sitemap-main">Community</a>
                <a href="/community/forum/">Forum</a>
                <a href="/community/meet-ups/">Meet-ups</a>
                <a href="/community/events/">Events</a>
                <a href="/community/contact-us/">Contact us</a>
            </li>
            <li>
                <a class="sitemap-main" href="/blog/">Blog</a>
            </li>
    	</ul>
	    
	    
	    <p class="footer-end">2012–2014 MontageJS — Open source and licensed under <a href="https://github.com/montagejs/montage/blob/master/LICENSE.md" target="_blank">BSD</a> | <a href="https://github.com/montagejs/montage/" target="_blank">GitHub</a> | <a href="https://github.com/montagejs?tab=members" target="_blank">Team</a></p>
    </div>

</footer>
