<header class="header">
    <div class="header-container">
        <nav class="nav">
            <a class="nav-item nav-item--home {% if page.home %}active{% endif %}" href="/">Home</a>
            <a class="nav-item {% if page.docs %}active{% endif %}" href="/docs">Docs</a>
            <a class="nav-item {% if page.apps %}active{% endif %}" href="/apps">Apps</a>
            <a class="nav-item {% if page.api %}active{% endif %}" href="/apis">APIs</a>
            <a class="nav-item {% if page.forum %}active{% endif %}" href="/community/forum">Forum</a>
        </nav>
        <a href="https://github.com/montagejs/montage" target="_blank"><img class="github" src="/images/github.svg" alt="github"></a>
    </div>
</header>
