<header class="header">
    <div class="header-container">
        <a class="logo {% if page.home %}active{% endif %}" href="/">Home</a>
        
        <input id="nav-toggle" class="nav-toggle nav-toggle--main" type="checkbox">
        <label class="nav-toggleLabel nav-toggleLabel--main" for="nav-toggle" onclick></label>
        
        <nav class="nav">
            <a class="nav-item {% if page.home %}active{% endif %}" href="/">Home</a>
            <a class="nav-item {% if page.apps %}active{% endif %}" href="/apps">Apps</a>
            <a class="nav-item {% if page.docs %}active{% endif %}" href="/docs">Docs</a>
            <a class="nav-item {% if page.api %}active{% endif %}" href="/api/AbstractButton.html">API</a>
            <a class="nav-item {% if page.community %}active{% endif %}" href="/community">Community</a>
            <a class="nav-item {% if page.blog %}active{% endif %}" href="/blog">Blog</a>
            <a class="nav-item nav-item--teaser {% if page.teaser %}active{% endif %}" href="/reveal/"></a>
            <a class="nav-item nav-item--fork" href="https://github.com/montagejs/montage" target="_blank">Source</a>
        </nav>
        
    </div>
</header>
