<header class="header">
    <div class="header-container">
        <a href="/"><img class="logo" src="/images/logo-pages.png" alt="Montage"></a>
        <nav class="nav">
            <a class="nav-item {% if page.docs %}active{% endif %}" href="/docs">Get Started</a>
            <a class="nav-item {% if page.apps %}active{% endif %}" href="/apps">Apps</a>
            <a class="nav-item {% if page.api %}active{% endif %}" href="/apis">APIs</a>
        </nav>
        <a href="https://github.com/montagejs/montage" target="_blank"><img class="github" src="/images/github.svg" alt="github"></a>
    </div>
</header>
