<section id="next" class="next">
    <div class="wrapper">
        <h3 class="title">More help?</h3>
        <div class="cols">
            <div class="col col-1-2">
                <p>Can't find what you are looking for? Get in touch, we're more than happy in helping answer your questions.
                </p>
            </div>
            <aside class="col col-1-2">
                <p><strong>Have feedback or ideas?</strong> Let us know by creating a new <a href="https://github.com/montagejs/montage/issues" target="_blank">issue</a>, join us in <a href="http://webchat.freenode.net/?channels=montage" target="_blank">IRC</a> or post questions to our <a href="https://groups.google.com/forum/?fromgroups#!forum/montagejs" target="_blank">Google Group</a>. We're also on <a href="https://twitter.com/montagejs" target="_blank">Twitter</a> and <a href="https://plus.google.com/116915300739108010954/" target="_blank">Google+</a>.
                </p>
            </aside>
        </div>
    </div>
</section>