<script>
    // Workaround for window.Touch on desktop browsers
    if (!("ontouchstart" in window)) {
        window.Touch = null;
    }
</script>
<div data-montage-id="features"></div>
<script src="index.html.bundle-0.js" data-montage-location="packages/montage@84c41d8/" data-promise-location="packages/q@a9d7aed/" data-montage-hash="84c41d8" data-promise-hash="a9d7aed" data-application-hash="4e18375"></script>
<script type="text/montage-serialization">{"features":{"prototype":"ui/features.reel","properties":{"element":{"#":"features"}}}}</script>