<script>
    // Workaround for window.Touch on desktop browsers
    if (!("ontouchstart" in window)) {
        window.Touch = null;
    }
</script>
<div data-montage-id="features"></div>
<script src="index.html.bundle-0.js" data-montage-location="packages/montage@fea9d48/" data-promise-location="packages/q@0b807b2/" data-montage-hash="fea9d48" data-promise-hash="0b807b2" data-application-hash="d7447cd"></script>
<script type="text/montage-serialization">{"features":{"prototype":"ui/features.reel","properties":{"element":{"#":"features"}}}}</script>
