<nav class="subnav">
    
    <details open>
        <summary>Quick Start</summary>
        <a href="{{ site.baseurl }}/docs/montagejs-setup.html" {% if page.this-page == 'montagejs-setup' %}class="active"{% endif %}>Set Up</a>
        <a href="{{ site.baseurl }}/docs/hello-montagejs.html" {% if page.this-page == 'hello-montagejs' %}class="active"{% endif %}>Hello Mod</a>
    </details>

    <details open>
        <summary>Demos</summary>
        <a href="{{ site.baseurl }}/docs/montagejs-examples.html" {% if page.this-page == 'montagejs-examples' %}class="active"{% endif %}>Examples</a>
        <a href="http://montagejs.github.com/mfiddle/" target="_blank">Mfiddle</a>
        
    </details>

    <details open>
        <summary>Concepts</summary>
        <a href="{{ site.baseurl }}/docs/montagejs-templates.html" {% if page.this-page == 'montagejs-templates' %}class="active"{% endif %}>Templates</a>
        <a href="{{ site.baseurl }}/docs/exploring-components.html" {% if page.this-page == 'exploring-components' %}class="active"{% endif %}>Components</a>
        <a href="{{ site.baseurl }}/docs/serialization-format.html" {% if page.this-page == 'serialization-format' %}class="active"{% endif %}>Declaration</a>
        <a href="{{ site.baseurl }}/docs/montagejs-objects.html" {% if page.this-page == 'montagejs-objects' %}class="active"{% endif %}>Objects</a>
        <a href="{{ site.baseurl }}/docs/data-binding.html" {% if page.this-page == 'data-binding' %}class="active"{% endif %}>Data Binding</a>
        <a href="{{ site.baseurl }}/docs/event-handling.html" {% if page.this-page == 'event-handling' %}class="active"{% endif %}>Event Handling</a>
        <a href="{{ site.baseurl }}/docs/draw-cycle.html" {% if page.this-page == 'draw-cycle' %}class="active"{% endif %}>Draw Cycle</a>
    </details>

    <details open>
        <summary>Tutorials</summary>
        <a href="{{ site.baseurl }}/docs/tutorial-reddit-client-with-montagejs.html" {% if page.this-page == 'tutorial-reddit-client-with-montagejs' %}class="active"{% endif %}>Reddit Client with Mod</a>
        <a href="{{ site.baseurl }}/docs/tutorial-3d-applications-with-montagejs.html" {% if page.this-page == 'tutorial-3d-applications-with-montagejs' %}class="active"{% endif %}>Building 3D Applications</a>
    </details>
    
    <details open>
        <summary>UI Containers</summary>
        <a href="{{ site.baseurl }}/docs/repetition.html" {% if page.this-page == 'repetition' %}class="active"{% endif %}>Repetition</a>
        <a href="{{ site.baseurl }}/docs/substitution.html" {% if page.this-page == 'substitution' %}class="active"{% endif %}>Substitution</a>
        <a href="{{ site.baseurl }}/docs/overlay.html" {% if page.this-page == 'overlay' %}class="active"{% endif %}>Overlay</a>
    </details>    

    <details open>
        <summary>UI Sets</summary>
        <a href="{{ site.baseurl }}/docs/themes.html" {% if page.this-page == 'themes' %}class="active"{% endif %}>Introduction</a>
        <a href="{{ site.baseurl }}/docs/theme-digit-components.html" {% if page.this-page == 'theme-digit-components' %}class="active"{% endif %}>Digit</a>
        <a href="{{ site.baseurl }}/docs/theme-matte-components.html" {% if page.this-page == 'theme-matte-components' %}class="active"{% endif %}>Matte</a>
        <a href="{{ site.baseurl }}/docs/theme-native-components.html" {% if page.this-page == 'theme-native-components' %}class="active"{% endif %}>Native</a>
    </details>
    
    <details open>
        <summary>Tools</summary>
        <a href="{{ site.baseurl }}/docs/tools-minit.html" {% if page.this-page == 'tools-minit' %}class="active"{% endif %}>Minit</a>
        <a href="{{ site.baseurl }}/docs/tools-mop.html" {% if page.this-page == 'tools-mop' %}class="active"{% endif %}>Mop</a>
    </details>
    
    <details open>
        <summary>Help</summary>
        <a href="{{ site.baseurl }}/docs/faq.html" {% if page.this-page == 'faq' %}class="active"{% endif %}>FAQ</a>
        <a href="{{ site.baseurl }}/docs/troubleshooting.html" {% if page.this-page == 'troubleshooting' %}class="active"{% endif %}>Troubleshooting</a>
    </details>
    
</nav>
