<nav class="subnav">
    
    <details open>
        <summary>Quick Start</summary>
        <a href="montagejs-setup.html" {% if page.title == 'Set Up MontageJS - Quick Start part 1' %}class="active"{% endif %}>Set Up</a>
        <a href="hello-montagejs.html" {% if page.title == 'Hello MontageJS - Quick Start part 2' %}class="active"{% endif %}>Hello MontageJS</a>
    </details>

    <details open>
        <summary>Demos</summary>
        <a href="montagejs-examples.html" {% if page.title == 'MontageJS Examples' %}class="active"{% endif %}>Examples</a>
        <a href="http://montagejs.github.com/mfiddle/" target="_blank">Mfiddle</a>
    </details>

    <details open>
        <summary>Concepts</summary>
        <a href="draw-cycle.html" {% if page.title == 'MontageJS Draw Cycle' %}class="active"{% endif %}>Draw Cycle</a>
        <a href="extending-components.html" {% if page.title == 'Extending MontageJS Components' %}class="active"{% endif %}>Extending Components</a>
        <a href="serialization-format.html" {% if page.title == 'MontageJS Component Object Model' %}class="active"{% endif %}>Component Object Model</a>
        <a href="montagejs-objects.html" {% if page.title == 'Montage Objects' %}class="active"{% endif %}>Objects</a>
        <a href="data-binding.html" {% if page.title == 'MontageJS Data Binding' %}class="active"{% endif %}>Data Binding</a>
        <a href="event-handling.html" {% if page.title == 'MontageJS Event Handling' %}class="active"{% endif %}>Event Handling</a>
        <!-- a href="gestures.html" {% if page.title == 'Gestures' %}class="active"{% endif %}>Gestures</a -->
    </details>

    <details open>
        <summary>Themes</summary>
        <a href="themes.html" {% if page.title == 'Overview - MontageJS Themes' %}class="active"{% endif %}>Introduction</a>
        <a href="theme-digit-components.html" {% if page.title == 'Digit - MontageJS Theme' %}class="active"{% endif %}>Digit</a>
        <a href="theme-matte-components.html" {% if page.title == 'Matte - MontageJS Theme' %}class="active"{% endif %}>Matte</a>
        <a href="theme-native-components.html" {% if page.title == 'Native - MontageJS Theme' %}class="active"{% endif %}>Native</a>
    </details>

    <details open>
        <summary>UI Containers</summary>
        <a href="repetition.html" {% if page.title == 'MontageJS Repetition UI Container' %}class="active"{% endif %}>Repetition</a>
        <a href="substitution.html" {% if page.title == 'MontageJS Substitution UI Container' %}class="active"{% endif %}>Substitution</a>
        <a href="overlay.html" {% if page.title == 'MontageJS Overlay UI Container' %}class="active"{% endif %}>Overlay</a>
    </details>
    
    <details open>
        <summary>Help</summary>
        <a href="faq.html" {% if page.title == 'MontageJS FAQ' %}class="active"{% endif %}>FAQ</a>
        <a href="troubleshooting.html" {% if page.title == 'Troubleshooting' %}class="active"{% endif %}>Troubleshooting</a>
    </details>
    
</nav>
