<nav class="subnav subnav--noDetails">
    <a href="{{ site.baseurl }}/community/forum/" {% if page.title == 'Mod Forum' %}class="active"{% endif %}>Forum</a>
    <a href="{{ site.baseurl }}/community/meet-ups/" {% if page.title == 'Mod Meet-ups' %}class="active"{% endif %}>Meet-ups</a>
    <a href="{{ site.baseurl }}/community/events/" {% if page.title == 'Mod Events' %}class="active"{% endif %}>Events</a>
    <a href="{{ site.baseurl }}/community/contact-us/" {% if page.title == 'Mod Contact Us' %}class="active"{% endif %}>Contact Us</a>
</nav>