<nav class="subnav">
    
    <details open>
        <summary>I'm new</summary>
        <a href="getting-started.html" {% if page.title == 'Getting Started' %}class="active"{% endif %}>Getting Started</a>
        <a href="examples.html" {% if page.title == 'Examples' %}class="active"{% endif %}>Examples</a>
    </details>
    
    <details open>
        <summary>Guides</summary>
        <a href="repetition.html" {% if page.title == 'Repetition' %}class="active"{% endif %}>Repetition</a>
        <a href="substitution.html" {% if page.title == 'Substitution' %}class="active"{% endif %}>Substitution</a>
        <a href="overlay.html" {% if page.title == 'Overlay' %}class="active"{% endif %}>Overlay</a>
        <a href="native-components.html" {% if page.title == 'Native components' %}class="active"{% endif %}>Native components</a>
        <a href="extending-components.html" {% if page.title == 'Extending components' %}class="active"{% endif %}>Extending components</a>
        <a href="montage-objects.html" {% if page.title == 'Montage objects' %}class="active"{% endif %}>Montage objects</a>
        <a href="serialization-format.html" {% if page.title == 'Serialization format' %}class="active"{% endif %}>Serialization format</a>
        <a href="data-binding.html" {% if page.title == 'Data binding' %}class="active"{% endif %}>Data binding</a>
        <a href="event-handling.html" {% if page.title == 'Event handling' %}class="active"{% endif %}>Event handling</a>
        <a href="draw-cycle.html" {% if page.title == 'Draw cycle' %}class="active"{% endif %}>Draw cycle</a>
        <a href="gestures.html" {% if page.title == 'Gestures' %}class="active"{% endif %}>Gestures</a>
        <a href="blueprints.html" {% if page.title == 'Blueprints' %}class="active"{% endif %}>Blueprints</a>
    </details>
    
    <details open>
        <summary>Help</summary>
        <a href="troubleshooting.html" {% if page.title == 'Troubleshooting' %}class="active"{% endif %}>Troubleshooting</a>
        <a href="faq.html" {% if page.title == 'FAQ' %}class="active"{% endif %}>FAQ</a>
    </details>
    
</nav>
