<nav class="subnav subnav--noDetails">
    <a href="/community/forum/" {% if page.title == 'MontageJS Forum' %}class="active"{% endif %}>Forum</a>
    <a href="/community/meet-ups/" {% if page.title == 'MontageJS Meet-ups' %}class="active"{% endif %}>Meet-ups</a>
    <a href="/community/events/" {% if page.title == 'MontageJS Events' %}class="active"{% endif %}>Events</a>
    <a href="/community/contact-us/" {% if page.title == 'MontageJS Contact Us' %}class="active"{% endif %}>Contact Us</a>
</nav>