<iframe src="http://www.facebook.com/plugins/like.php?href=http://montagejs.org/reveal&layout=button_count&show_faces=false&width=100&action=like&colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:100px; height:20px;"></iframe>

<a href="https://twitter.com/share" class="twitter-share-button" data-related="montagejs" data-url="http://montagejs.org/reveal" data-text="@MontageJS to reveal new take on #webdev #webdesign - I RSVPd for early access here:http://montagejs.org/reveal #html5 #opensource" data-lang="en" data-count="horizontal">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<a style="margin-right: 30px" href="https://news.ycombinator.com/submit" class="hn-button" data-title="MontageJS is preparing to retool Web development" data-url="http://montagejs.org/reveal" data-count="horizontal">Vote on Hacker News</a>
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>

<a class="social-link" href="mailto:?to=&Subject=The%20MontageJS%20team%20is%20about%20to%20retool%20Web%20development&Body=MontageJS%20was%20just%20the%20start%20of%20the%20next%20wave%20in%20Web%20%03development.%20Now%2C%20the%20team%20behind%20MontageJS%20is%20about%20to%20reveal%20what%27s%20coming%20next.%20You%20can%20be%20among%20the%20first%20to%20learn%20more%3A%20RSVP%20today%20by%20visiting%20http%3A//montagejs.org/reveal.
">E-mail a friend</a>