<section id="teaser" class="teaser teaser--home">
    <div class="wrapper">        
        
        <p class="teaser-intro teaser-intro--large">MONTAGE JS was just the start of the next wave in Web development. Now, we’re about to announce the follow up. We want you to be there when we do. Don’t miss the powerful world of social-authoring for the web.</p>
        
        <div class="teaser-bar">
            <a class="teaser-link" href="/reveal/">I'M IN
                <button class="teaser-button">
                    <img class="teaser-button-icon" src="/images/teaser-arrow.svg" alt="arrow">
                </button>
            </a>
        </div>
        
    </div>
</section>