<a href="https://twitter.com/share" class="twitter-share-button" data-related="montagejs" data-url="http://montagejs.org/reveal" data-text="The @MontageJS team will soon reveal new chapter in #WebDev & Design. I RSVPd for early access:" data-lang="en" data-count="horizontal">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



<!-- Place this tag where you want the +1 button to render. -->
<span class="g-plusone" data-size="medium"></span>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>



<a style="margin-right: 30px" href="https://news.ycombinator.com/submit" class="hn-button" data-title="MontageJS soon to reveal new chapter in Web Development & Design" data-url="http://montagejs.org/reveal" data-count="horizontal">Vote on Hacker News</a>
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>



<a class="social-link" href="mailto:?to=&Subject=New%20Chapter%20in%20Web%20Dev%20%26%20Design%20-%20RSVP%20Now%20for%20Early%20Access&Body=MontageJS%20is%20just%20the%20beginning.%20We%E2%80%99re%20about%20to%20let%20a%20select%20few%20have%20the%20first%20look%20at%20the%20next%20chapter%20in%20Web%20Development%20and%20Design.%0A%0ARSVP%20now%20for%20early%20access%3A%20http%3A%2F%2Fmontagejs.org%2Freveal
">E-mail a friend</a>