<section id="teaser" class="teaser teaser--home">
    <div class="wrapper">        
        
        <p class="teaser-copy">MontageJS is just the beginning. We’re about to let a select few have the first look at the next chapter in Web Development and Design.</p>
                
        <a class="teaser-link teaser-cta" href="/reveal/">RSVP now for early access.
            <button class="teaser-button">
                <img class="teaser-button-icon" src="/images/teaser-arrow.svg" alt="arrow">
            </button>
        </a>
        
    </div>
</section>