<div class="form teaser-form">

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
    <!--  If necessary, please modify the charset parameter to specify the        -->
    <!--  character set of your HTML page.                                        -->
    <!--  ----------------------------------------------------------------------  -->
    
    <!--<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">-->
    
    
    <!-- Form validation -->
    <!-- https://success.salesforce.com/ideaView?id=087300000006tlB -->
    
    <script type='text/javascript'>
        function validation(form) {
              
            if(form.first_name.value == '') {
                alert('Please enter your first name');
                form.first_name.focus();
                return false;
            }
            
            if(form.last_name.value == '') {
            
                alert('Please enter your last name');
                form.last_name.focus();
                return false;
            }
            
            if(form.email.value == '') {
            
                alert('Please enter your email address');
                form.email.focus();
                return false;
            }
                                
            return true;
        }
    </script>
    
    
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->
    
    <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" onsubmit="return validation(this);">
    
        <input type=hidden name="oid" value="00DG0000000jEdg">
        <input type=hidden name="retURL" value="http://montagejs.org/reveal/thanks.html">
        <input type=hidden name="lead_source" value="Web - Beta">        
        
        <!--  ----------------------------------------------------------------------  -->
        <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
        <!--  these lines if you wish to test in debug mode.                          -->
        <!--  <input type="hidden" name="debug" value=1>                              -->
        <!--  <input type="hidden" name="debugEmail"                                  -->
        <!--  value="kristie@montagestudio.com">                                      -->
        <!--  ----------------------------------------------------------------------  -->    
                
        <label for="first_name">First Name*</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" />
        
        <label for="last_name">Last Name*</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" />
        
        <label for="email">Email*</label><input  id="email" maxlength="80" name="email" size="20" type="email" />
        
        <label for="00NG000000DXjMc">GitHub ID</label><input id="00NG000000DXjMc" maxlength="100" name="00NG000000DXjMc" size="20" type="text" />
        
        <label for="title">Title</label><input  id="title" maxlength="40" name="title" size="20" type="text" />
        
        <label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" />
        
        <label for="zip">Zip</label><input  id="zip" maxlength="20" name="zip" size="20" type="text" />
                    
        <p>Fields marked with * are required.</p>
                    
        <input type="submit" name="submit">
    
    </form>
        
</div>