---

layout: default
title: Reveal
teaser: true

---

<section id="teaser" class="teaser teaser--page">
    <div class="wrapper">        
        
        <div class="cols">
            <div class="col col-1-2">
                <p class="teaser-intro">MontageJS was just the start - We’re about to let a select few have a first look at Montage’s new take on Web development and design.</p>
                
                <p class="teaser-info">This quick and intuitive new Montage experience-building environment will surely ignite the developer in the designer, and inspire the designer in the developer. RSVP now for early access.</p>
                
                <div class="teaser-social">
                    {% include teaser-social.html %}
                </div>
            </div>
            <div class="col col-1-2">
                
                {% include teaser-form.html %}
                
            </div>
        </div>
        
    </div>
</section>

