/* Apps ----------------------------------------- */

.apps .title {
    color: hsl(0,0%,90%);
    text-shadow: 0px 1px 0px hsl(0,0%,0%);
}

.apps article {
    color: hsl(0,0%,50%);
    text-shadow: none;
}

.gallery {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

.gallery-item {
    display: inline-block;
    margin: 20px;
}

.gallery-item a {
    color: hsl(0,0%,50%);
}
.gallery-item a:hover {
    color: hsl(200,100%,50%);
}

.gallery-thumb {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border: 3px solid hsl(0,0%,100%);
    background-color: hsl(0,0%,95%);
    box-shadow: 0px 12px 20px -12px hsla(0,0%,0%,1);
}
.gallery-thumb:hover {
    border-color: hsl(200,100%,50%);
}
.gallery-thumb:active {
    border-color: hsl(200,100%,30%);
}

.gallery-thumb:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 3px;
    box-shadow: inset 0px 0px 4px hsla(0,0%,0%,.2);
    background-image: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:    -moz-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:     -ms-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:      -o-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:         linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
}
.gallery-img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    border-radius: 3px;
}

.gallery-description {
    margin-top: 10px;
    font-size: 14px;
}

@media all and (max-width: 800px) {
    .gallery-item {
        display: block;
        margin: 0;
    }
    .gallery-img {
        max-width: 100%;
        max-height: 200px;
    }
    .gallery-description {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}