/* These Styles get shared between the index and sub pages */

/* MontageJS blue: hsl(210,75%,57%) */

/* Globals ----------------------------------------- */

body {
    margin: 0;
    color: hsl(0,0%,25%);
    font: 13px/1.231 'Open Sans', sans-serif;
	background-color: hsl(200,0%,95%);
}

a {
    text-decoration: none;
    color: hsl(220, 100%, 66%);;
}
a:hover {
    color: hsl(220,80%,46%);
}
a:active {
    color: hsl(220,80%,40%);
}

h1 {
    line-height: 1;
}

::-moz-selection { background: hsl(60, 86%, 88%); text-shadow: none; }
::selection { background: hsl(60, 86%, 88%); text-shadow: none; }

.pushed ::-moz-selection { background: hsl(0,0%,10%); text-shadow: none; }
.pushed ::selection { background: hsl(0,0%,10%); text-shadow: none; }


/* Sections ----------------------------------------- */

section {
    padding: 20px;
    border-top: 1px solid hsl(0,0%,99%);
    border-bottom: 1px solid hsl(0,0%,85%);
}

@media all and (min-width: 801px) {
    body > section:first-of-type {
        margin-top: 65px;
    }
    section {
        padding: 60px 40px;
    }
}


article {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5em;
    text-shadow: 0px 1px 0px hsla(0,0%,100%,.8);
}

.title {
    font-size: 24px;
    margin: 0;
}

.sub-title {
    margin-bottom: 0;
}

blockquote {
    margin: 1.5em 0;
    padding: .1em 1em;
    font-size: 1.2em;
    line-height: 1.3;
    color: hsl(0, 0%, 40%);
    border-radius: 0 6px 6px 0;
    border-left: 4px solid hsl(0, 0%, 80%);
    background: hsla(0, 0%, 0%, .05);
}

hr {
    border: none;
    border-bottom: 2px dashed hsl(0, 0%, 80%);
    margin: 2em 0;
}


/* Header ----------------------------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0px 40px;
    text-align: left;
    border-bottom: 1px solid hsl(0,0%,85%);
    background-color: hsl(210,100%,100%);
    -webkit-transform: translateZ(0); /* should make it scroll faster */
}

.header-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.header .logo {
    position: absolute;
    z-index: 1;
    margin-top: -38px;
    height: 120px;
    background-image: url(/images/logo-montage.svg);
    color: transparent;
    text-shadow: none;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    -webkit-transition: -webkit-transform .2s;
       -moz-transition:    -moz-transform .2s;
        -ms-transition:     -ms-transform .2s;
         -o-transition:      -o-transform .2s;
            transition:         transform .2s;
}

.header .logo:hover {
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
        -ms-transition-duration: .1s;
         -o-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transform: translateY(6px);
       -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
         -o-transform: translateY(6px);
            transform: translateY(6px);
}

.header .logo:active {
    -webkit-transition-duration: .04s;
       -moz-transition-duration: .04s;
        -ms-transition-duration: .04s;
         -o-transition-duration: .04s;
            transition-duration: .04s;
    -webkit-transform: translateY(20px);
       -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
         -o-transform: translateY(20px);
            transform: translateY(20px);
}

.header .fork {
    position: absolute;
    top: 16px;
    right: 0;
    width: 32px;
    height: 32px;
    opacity: .4;
}

.header .fork:hover {
    opacity: 1;
}

@media all and (max-width: 800px) {
    .header {
        position: relative;
        padding: 0 16px 0 0;
    }
}


/* Nav ----------------------------------------- */

.nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
    font-size: 0; /* Removes inline-block gap */
}

.nav-item {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    color: hsl(0,0%,60%);
}

.nav-item:hover {
    color: hsl(0,0%,40%);
    background-color: hsla(0,0%,0%,.05);
}

.nav-item:active,
.nav-item.active {
    color: hsl(210,100%,60%);
}

@media all and (max-width: 800px) {
    .nav {
        margin: 12px 70px;
    }
    .nav-item {
        padding: 8px 12px;
    }
}


/* Pushed (background is dark) ----------------------------------------- */

.pushed {
    padding: 50px;
    border-top: 1px solid hsl(0,0%,0%);
    border-bottom: 1px solid hsl(0,0%,0%);
    background-color: hsl(0,0%,26%);
    background-image: -webkit-radial-gradient(center 30%, hsla(0,0%,20%,.5), hsla(0,0%,0%,.5) ), url(../images/noise.png);
    background-image:    -moz-radial-gradient(center 30%, hsla(0,0%,20%,.5), hsla(0,0%,0%,.5) ), url(../images/noise.png);
    background-image:     -ms-radial-gradient(center 30%, hsla(0,0%,20%,.5), hsla(0,0%,0%,.5) ), url(../images/noise.png);
    background-image:      -o-radial-gradient(center 30%, hsla(0,0%,20%,.5), hsla(0,0%,0%,.5) ), url(../images/noise.png);
    background-image:         radial-gradient(center 30%, hsla(0,0%,20%,.5), hsla(0,0%,0%,.5) ), url(../images/noise.png);
}

.pushed .link {
    color: hsl(200,100%,50%);
}

.pushed .link:hover {
    color: hsl(200,100%,70%);
}

.pushed .link:active {
    color: hsl(200,100%,30%);
}


/* Bar (background is light grey) ----------------------------------------- */

.bar {
    padding: 20px;
    border-top: 1px solid hsl(0,0%,99%);
    border-bottom: 1px solid hsl(0,0%,85%);
    text-align: center;
    background-color: hsl(0,0%,88%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    background-image:    -moz-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    background-image:     -ms-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    background-image:      -o-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    background-image:         linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
}


/* Columns ----------------------------------------- */

.cols {
    font-size: 0; /* removes white-space but */
}
.cols > .col {
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
    font-size: 16px;
}
.cols > .col:nth-child(even),
.cols > .col:last-child {
    margin-right: 0;
}

.col-1-2 { width: 48%; }
.col-1-3 { width: 30%; }
.col-2-3 { width: 63%; }

@media all and (max-width: 800px) {
    .cols > .col {
        display: block;
        vertical-align: top;
    }
    .col-1-2,
    .col-1-3,
    .col-2-3  {
        width: 100%;
        margin-right: 0;
    }
}


/* Button ----------------------------------------- */

.button {
    display: inline-block;
    margin: 0 .5em;
    padding: .5em 1em;
    border-radius: 2em;
    border: 1px solid hsl(0,0%,80%);
}

.button:hover {
    background: hsla(0,0%,100%,.3);
}

.button:active {
    background: hsla(0,0%,0%,.05);
}

.button.disabled {
    opacity: .4;
    color: hsl(0,0%,50%);
    pointer-events: none;
}

/* Action Button ----------------------------------------- */

.button--action {
    display: inline-block;
    margin-left: 10px;
    padding: 0 20px;
    line-height: 36px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 hsla(0,0%,0%,.2);
    font-weight: bold;
    border-color: #407fbf;
    box-shadow: inset 0 1px 0px hsla(0,0%,100%,.4),
                inset 0 -1px 1px hsla(0,0%,0%,.2), 
                0 4px 5px -2px hsla(0,0%,0%,.3);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
    background-image:    -moz-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
    background-image:     -ms-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
    background-image:      -o-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
    background-image:         linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
}
.button--action:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
    background-image:    -moz-linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
    background-image:     -ms-linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
    background-image:      -o-linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
    background-image:         linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
}
.button--action:active {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:    -moz-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:     -ms-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:      -o-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:         linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
}

.button--action[disabled] {
    color: hsl(0,0%,30%);
    text-shadow: none;
    border: 1px solid hsl(0,0%,80%);
    background: hsl(0,0%,90%);
    box-shadow: none;
}


/* More (round dashed button) ----------------------------------------- */

.more {
    margin-top: 20px;
}

.more-button {
    display: inline-block;
    padding: 0 15px;
    line-height: 36px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: bold;
    color: hsl(0,0%,15%);
    border: 1px dashed hsl(0,0%,70%);
}
.more-button:hover {
    color: hsl(0,0%,15%);
    background-color: hsl(0,0%,95%);
}
.more-button:active {
    color: hsl(0,0%,15%);
    background-color: hsl(0,0%,86%);
}

@media all and (max-width: 800px) {

    .more-button {
        margin-top: 10px;
    }

}


/* Apps (gallery) ----------------------------------------- */

.gallery .title {
    color: hsl(0,0%,90%);
    text-shadow: 0px 1px 0px hsl(0,0%,0%);
}

.gallery article {
    color: hsl(0,0%,50%);
    text-shadow: none;
}

.gallery-list {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

.gallery-item {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.gallery-item a {
    color: hsl(0,0%,50%);
}
.gallery-item a:hover {
    color: hsl(200,100%,50%);
}

.gallery-thumb {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border: 3px solid hsl(0,0%,100%);
    background-color: hsl(0,0%,95%);
    box-shadow: 0px 12px 20px -12px hsla(0,0%,0%,1);
}
.gallery-thumb:hover {
    border-color: hsl(200,100%,50%);
}
.gallery-thumb:active {
    border-color: hsl(200,100%,30%);
}

.gallery-thumb:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 3px;
    box-shadow: inset 0px 0px 4px hsla(0,0%,0%,.2);
    background-image: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:    -moz-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:     -ms-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:      -o-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:         linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
}
.gallery-img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    border-radius: 3px;
}

.gallery-description {
    margin-top: 10px;
    font-size: 14px;
}

@media all and (max-width: 800px) {
    .gallery-item {
        display: block;
        margin: 0;
    }
    .gallery-img {
        max-width: 100%;
        max-height: 200px;
    }
    .gallery-description {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}



/* Social Buttons ----------------------------------------- */

.social {
  padding: 20px 40px;
  text-align: center;
}

.social .button-group {
    display: inline-block;
    margin: 5px 30px;
}

.social .twitter-share-button {
    margin: 0 5px;
}


/* Footer ----------------------------------------- */

.footer {
    padding: 20px;
    text-align: center;
    text-shadow: 0px 1px 0px hsla(0,0%,100%,.6);
    background: hsl(0,0%,90%);
}
