/* These Styles only get used on the index page ----------------------------------------- */



/* Header ----------------------------------------- */

.header-index h1 {
    margin: 0;
}

.header-index .tagline {
    margin-top: 50px;
    font-weight: normal;
    color: hsl(0,0%,45%);
    text-shadow: 0px 1px 2px hsla(0,0%,0%,.5);
}

.header-index .logo {
    height: 231px;
}

@media all and (max-width: 800px) {

.header-index .logo {
    height: 180px;
}

}