/* These Styles only get used on the index page only */


/* Hero ----------------------------------------- */

.hero {
    padding: 60px 20px;
    text-align: center;
    border-top: 1px solid hsl(210,75%,0%);
    border-bottom: 1px solid hsl(210,75%,0%);
    background-color: hsl(210, 20%, 50%);
    background-image: -webkit-radial-gradient(hsla(210, 16%, 24%, 0.95), hsla(210, 16%, 10%, 0.96) ), url(../images/home/home-hero-bg.png);
    background-image: radial-gradient(hsla(210, 16%, 24%, 0.95), hsla(210, 16%, 10%, 0.96) ), url(../images/home/home-hero-bg.png);
    background-size: auto, 240px 160px;
}

.hero .wrapper {
    color: hsl(0,0%,60%);
    text-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.5);
}

.hero .col {
    vertical-align: middle;
}

.hero a {
    color: hsl(210,100%,75%);
}

.hero a:hover {
    color: hsl(0,0%,85%);
}

.hero a:active {
    color: hsl(0,0%,65%);
}

.hero h1 {
    margin: 0;
    color: hsl(0,0%,90%);
    font-size: 3.6em;
    font-weight: normal;
}

.hero .logo {
    margin-right: .2em;
    height: 100px;
    vertical-align: middle;
}

.hero .tagline {
    margin: 1.5em 0;
    font-size: 1.2em;
    line-height: 1.3;
    font-weight: normal;
}

.hero strong {
    font-weight: 600;
}

.hero .button--cta {
    display: inline-block;
    margin: 0 10px;
    padding: .6em 1em;
    line-height: 1;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0px -1px 1px hsla(0, 0%, 0%, 0.26);
    color: hsla(0, 100%, 100%, 0.9);
    border: 2px solid hsl(200, 100%, 10%);
    background-color: hsl(200,100%,45%);
    box-shadow: inset 0px 1px 0px hsla(0,0%,100%,.2),
                inset 0px -1px 1px hsla(0,0%,0%,.2),
                0px 1px 0px hsla(0,0%,100%,.1);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,60%), hsl(210,100%,40%) );
    background-image:         linear-gradient(top, hsl(210,100%,60%), hsl(210,100%,40%) );
    -webkit-font-smoothing: antialiased;
}

.hero .button--cta:hover {
    color: white;
    background-image: -webkit-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:         linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
}
.hero .button--cta:active {
    color: white;
    background-image: -webkit-linear-gradient(top, hsl(210,100%,55%), hsl(210,100%,35%) );
    background-image:         linear-gradient(top, hsl(210,100%,55%), hsl(210,100%,35%) );
}


/* Video/Img */

.hero-video {
    display: block;
    margin: .8em 0 1.5em 0;
    width: 100%;
}

.hero-thumb {
    position: relative;
    display: block;
    max-width: 360px;
    margin: .8em auto 1.5em auto;
    border-radius: 8px;
    border: 4px solid hsl(0, 0%, 0%);
    box-shadow: 0 26px 16px -20px hsla(0, 0%, 0%, 0.5);
    transition: border-color .1s linear;
}

.hero-thumb:hover {
    border-color: hsl(200,100%,50%);
}

.hero-thumb:active {
    border-color: hsl(200,100%,30%);
}

.hero-thumb:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit;
    box-shadow: inset 0px 0px 4px hsla(0,0%,0%,.2);
    background-image: -webkit-linear-gradient(-45deg, hsla(0, 100%, 100%, 0.05), hsla(0, 100%, 100%, 0.06) 50%, hsla(0, 100%, 100%, 0) 50% );
    background-image:         linear-gradient(135deg, hsla(0, 100%, 100%, 0.05), hsla(0, 100%, 100%, 0.06) 50%, hsla(0, 100%, 100%, 0) 50% );
}

.hero-thumb-img {
    display: block;
    width: 100%;
    max-width: inherit;
    border-radius: 4px;
}



@media all and (max-width: 700px) {
    
    .hero-video,
    .hero-thumb {
        margin-top: 2em;
    }

}


/* Why ------------------------------------------- */

.why img {
    margin: 1.5em 0 0 0;
}


