/* These Styles only get used on sub-pages */


/* with Subnav ----------------------------------------- */



.withSubnav .main {
    position: relative;
    float: right;
    width: 75%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.withSubnav .content {
    background: #fff;
    padding: 10px 30px 30px 30px;
    border-radius: 8px;
    box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.12);
}

.withSubnav .comments {
    padding-top: 2em;
}

.withSubnav .wrapper:after {
    content: "";
    display: block;
    clear: both;
}


/* Subnav ----------------------------------------- */

.subnav {
    float: left;
    width: 25%;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.subnav details[open] {
    padding: 0 0 20px 0;
}

.subnav summary {
    padding: 5px 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: hsl(0, 0%, 30%);
}

.subnav a {
    display: block;
    margin-left: 5px;
    padding: 5px 5px 5px 13px;
    border-left: 2px solid hsl(210,75%,70%);
    font-size: 14px;
    line-height: 1.3;
    color: hsl(0,0%,30%);
}

.subnav a:visited {
    color: hsl(0,0%,60%);
    border-color: hsl(0,0%,85%);
}

.subnav a:hover {
    color: hsl(0, 0%, 20%);
    background-color: hsl(210,75%,92%);
    border-color: hsl(210,75%,57%);
    text-shadow: none;
}

.subnav a:active,
.subnav a.active {
    color: hsl(0,0%,100%);
    text-shadow: none;
    border-left-color: transparent;
    background-color: hsl(210,75%,57%);
}

.subnav a[target="_blank"]:after {
     content: "";
     display: inline-block;
     margin-left: 4px;
     width: 8px;
     height: 8px;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJElEQVQ4EY1SwWrCQBB1jSHQkxe/wv5ET+3FDxD8iuBBgiUJgfRQsZCL3+BXaD+iR496kRw8WLo1SfteYGEJg8nAZGbn7Xsz2V0VhmESRdFrT7A4jn2UV3AlwHWpr5RaQuBd2gDxdVVVU2Bawlnr8wOROboNmTcN9S1qL/BLE+O6FpAAu4ZJ9mVZTlC72XXmnQSCIBg5jrPBfhf+Q6KxVgGSPc/bgTCGfxVF8Yj42UmgSdZaPyVJcsjz/BkCPJvewCg1o0RO0/TMfVmWaRz8FLd3EgXukU2jPxhyXzwD13VnAOt/5timsyHbURTA3X/gAfltZAqJv0CAIoxtJk7QRrJxe4IHdP21wXs5Xuc3cXuCI9bXro4rfKOAPQHXnQ3vYIGJb/8a4nf/5LC60AAAAABJRU5ErkJggg==) no-repeat center;
     background-size: 8px;    
}

.subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.subnav input[type="search"] {
    padding: 0.4em 0.6em;
    border-radius: 2em;
    margin-bottom: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: .9em;
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0px hsla(0,0%,100%,0.3);
    border: 1px solid hsla(0,0%,0%,0.15);
    background: hsla(0,0%,0%,.04);
}

.subnav input[type="search"]:focus {
    outline: none;
    border-color: hsl(210,75%,57%);
    background: transparent;
}

.subnav--noDetails {
    margin-bottom: 20px;
}

.subnav--noDetails a {
    margin-left: 0;
}


/* Content ----------------------------------------- */

.content :target {
    position: relative;
    display: block;
    padding-top: 80px;
}

.content :target:before {
    content: "";
    position: absolute;
    top: 0;
    margin-left: 50%;
    height: 60px;
    border-left: 2px solid #eee;
}

.content a:visited {
    color: hsl(220, 50%, 70%);
}

.content a:visited:hover {
    color: hsl(220, 50%, 80%);
}

.content a:visited:hover {
    color: hsl(220, 50%, 60%);
}

.content img {
    max-width: 100%;
}

.content ol li {
    margin: 1em 0;
}

.content ul li {
    margin: .3em 0;
}

.content h2 {
    border-bottom: 1px solid hsl(0,0%,90%);
    padding-bottom: .3em;
}

.content h2,
.content h3,
.content h4 {
    margin: 1.6em 0 .4em 0;
}

.content h4 + ul,
.content h4 + p {
    margin-top: 0;
}


/* Figure */

.content figcaption {
    padding: .5em 0;
    font-size: .9em;
    font-style: italic;
    color: hsl(0,0%,50%);
}

.content table {
    margin-bottom: 1em;
    font-size: .94em;
    line-height: 1.3;
    border: 1px solid hsl(0,0%,92%);
    border-width: 0 1px 1px 0;
}

.content thead {
    background: hsl(208,60%,97%);
}

.content tr:nth-child(even) {
    background: hsl(0,0%,97%);
}

.content th,
.content td {
    padding: .6em .8em;
    border: 1px solid hsl(0,0%,92%);
    border-width: 1px 0 0 1px;
}





/* Paging ----------------------------------------- */

.paging {
    padding-top: 2em;
    text-align: center;
}

.paging--prev:before {
    content: "←";
    margin-right: 4px;
}
.paging--next:after {
    content: "→";
    margin-left: 4px;
}


/* Code ----------------------------------------- */

/* Inline */

code {
    color: hsl(0, 0%, 50%);
}

/* Block: highlight = GitHub MD, prettyprint = JSDoc  */

.highlight,
.prettyprint {
    display: block;
    position: relative;
    margin: 1em 0;
    padding: 20px;
    font-size: .9em;
    line-height: 1.3;
    border-radius: 6px;
    border: 1px solid hsl(0, 0%, 88%);
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 50%);
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.04), 0 1px 0 hsla(0, 0%, 100%, 0.6);
}

.highlight > pre {
    margin: 0;
}

.highlight em {
    color: #545454;
    font-weight: bold;
}

code[data-lang]:after {
    content: attr(data-lang);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 1.5em;
    padding: 0em .6em;
    text-align: center;
    font-size: .75em;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0,0%,66%);
    border-radius: 0 5px;
    border-left: 1px solid hsla(0, 0%, 0%, 0.05);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
    background: hsla(0, 0%, 0%, 0.04);
}


/* Edit this ----------------------------------------- */

.docs .edit {
    position: absolute;
    padding: 0 1em;
    top: 0;
    right: 0;
    line-height: 2em;
    font-size: .8em;
    color: hsla(0,0%,0%,0.4);
    border-radius: 0 8px;
    text-shadow: none;
    border: 1px solid hsl(0,0%,90%);
    border-width: 0 0 1px 1px;
}

.docs .edit:hover {
    background: hsl(0,0%,96%);
}

.docs .edit:active {
    background: hsl(0,0%,100%);
}

.docs .button.disabled {
    visibility: hidden;
}



/* Blog ----------------------------------------- */

.blog-index {
    padding: 0;
    list-style: none;
}

.content .blog-index-item {
    margin: 1.5em 0 0 0;
    padding: 0;
    border-top: 1px solid hsl(0,0%,90%);
}

.blog-index-title {
    margin: 0 0 .4em 0;
}

.blog-meta {
    color: hsl(0,0%,70%);
}

.blog-time {
    margin-right: .8em;
}

.blog-time--title {
    font-weight: normal;
    font-size: .7em;
    color: #999;
    margin-left: .4em;
}

.blog-index-item p {
    display: inline;
    margin: 0;
}

.blog img {
    max-width: 100%;
}




/* Apps page ----------------------------------------- */

.apps-intro {
    border-bottom: none;
    padding-bottom: 0;
}

.case:nth-child(3) {
    border-top: none;
}

.case .title {
    margin-bottom: 20px;
}

.case .case-optimized {
    font-size: .7em;
    font-weight: normal;
    color: hsl(0,0%,60%);
}

.case-thumb {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border: 3px solid hsl(0,0%,100%);
    background-color: hsl(0,0%,95%);
    box-shadow: 0px 12px 20px -12px hsla(0,0%,0%,1);
}
.case-thumb:hover {
    border-color: hsl(200,100%,50%);
}
.case-thumb:active {
    border-color: hsl(200,100%,30%);
}

.case-thumb:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 3px;
    box-shadow: inset 0px 0px 4px hsla(0,0%,0%,.2);
    background-image: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:    -moz-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:     -ms-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:      -o-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:         linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
}
.case-img {
    display: block;
    width: 100%;
    max-width: 480px;
    border-radius: 3px;
}

.case-icon {
    float: left;
    position: relative;
    width: 48px;
    top: 6px;
    margin: 0 20px 20px 0;
}

.case p {
    margin-top: 0;
}

.case-launch {
    margin-left: 0;
}

.gallery .note {
    max-width: 900px;
    margin: 50px auto 0 auto;
    font-size: 14px;
    line-height: 1.5;
}

.gallery .gallery-item-source {
    display: inline-block;
    padding: 0 8px;
    line-height: 1.5;
    color: hsl(0,0%,70%);
    font-size: 12px;
    border-radius: 20px;
    background: hsl(0,0%,30%);
}

.gallery .gallery-item-source:hover {
    background: hsl(200,100%,25%);
}




/* 404 ----------------------------------------- */

.title-404 {
    font-size: 8em;
    text-align: center;
    line-height: 0;
    color: hsl(0,0%,80%);
}




/* Responsive Submenu ----------------------------------------- */

@media all and (max-width: 700px) {
    
    .subnav {
        float: none;
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .subnav a {
        font-size: 18px;
        line-height: 1.8;
        margin-left: 0;
    }

    .subnav summary {
        margin-bottom: 10px;
        border-radius: 8px;
        padding: 10px 0;
        box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.12);
        background: hsl(0,0%,100%);
        -webkit-tap-highlight-color: transparent;
    }
    
    .subnav summary:active {
        background-color: hsl(0, 0%, 90%);
    }
    
    section.withSubnav {
        padding: 10px;
    }
    
    .withSubnav .main {
        width: 100%;
    }
    
    .withSubnav .content {
        padding: 1px 20px 20px 20px;
    }
    
    .subnav {
        display: none;
    }
    
    .nav-toggle--sub:checked ~ .subnav {
        display: block;
    }
    
    .nav-toggleLabel--sub {
        display: block;
        margin-bottom: 10px;
    }
    
    .nav-toggleLabel--sub:before { content: "Sub Menu"; }
    
}

