/* These Styles only get used on sub-pages only */

/* Header ----------------------------------------- */

.header-pages {
    padding: 0px 50px;
    text-align: left;
    border-top: 1px solid hsl(0,0%,20%);
    border-bottom: 1px solid hsl(0,0%,20%);
    background-color: hsl(0,0%,28%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,32%), hsl(0,0%,22%) );
    background-image:    -moz-linear-gradient(top, hsl(0,0%,32%), hsl(0,0%,22%) );
    background-image:     -ms-linear-gradient(top, hsl(0,0%,32%), hsl(0,0%,22%) );
    background-image:      -o-linear-gradient(top, hsl(0,0%,32%), hsl(0,0%,22%) );
    background-image:         linear-gradient(top, hsl(0,0%,32%), hsl(0,0%,22%) );
}

.header-container {
    max-width: 1000px;
    margin: 0 auto;
}

.header-pages .logo {
    height: 32px;
    vertical-align: middle;
}

@media all and (max-width: 800px) {
    .header-pages {
        padding: 0;
    }
    .header-pages .logo {
        display: block;
        margin: 30px auto;
    }
}


/* Nav ----------------------------------------- */

.nav {
    margin: 0 0 0 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0; /* Removes inline-block gap */
}

.nav-item {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    color: hsl(196,0%,50%);
    text-shadow: 0 1px 2px hsla(0,0%,0%,.5);
    background: hsla(0,0%,100%,.05);
    border-left: 1px solid hsla(0,0%,100%,.08);
    border-right: 1px solid hsla(0,0%,0%,.3);
}

.nav-item:hover {
    color: hsl(196,0%,60%);
    background: hsla(0,0%,100%,.1);
}

.nav-item:active,
.nav-item.active {
    color: hsl(196,100%,50%);
    background: hsla(0,0%,0%,.1);
    border-color: transparent;
}

@media all and (max-width: 800px) {
    .nav {
        display: block;
        margin: 0;
        text-align: center;
        border-top: 1px solid hsla(0,0%,0%,.1);
        background: hsla(0,0%,0%,.1);
    }
    .nav-item {
        padding: 8px 12px;
        background: transparent;
        border: none;
    }
}


/* Apps page ----------------------------------------- */

.apps .note {
    max-width: 900px;
    margin: 50px auto 0 auto;
    font-size: 14px;
    line-height: 1.5;
}

.apps a {
    color: hsl(196,100%,50%);
}

.apps a:hover {
    color: hsl(196,100%,60%);
}

.apps a:active {
    color: hsl(196,100%,40%);
}
