/* These Styles only get used on sub-pages */


/* Apps page ----------------------------------------- */

.intro {
    border-bottom: none;
    padding-bottom: 0;
}

.case:nth-child(3) {
    border-top: none;
}

.case .title {
    margin-bottom: 20px;
}

.case .case-optimized {
    font-size: .7em;
    font-weight: normal;
    color: hsl(0,0%,60%);
}

.case-thumb {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border: 3px solid hsl(0,0%,100%);
    background-color: hsl(0,0%,95%);
    box-shadow: 0px 12px 20px -12px hsla(0,0%,0%,1);
}
.case-thumb:hover {
    border-color: hsl(200,100%,50%);
}
.case-thumb:active {
    border-color: hsl(200,100%,30%);
}

.case-thumb:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 3px;
    box-shadow: inset 0px 0px 4px hsla(0,0%,0%,.2);
    background-image: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:    -moz-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:     -ms-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:      -o-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
    background-image:         linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
}
.case-img {
    display: block;
    width: 100%;
    max-width: 480px;
    border-radius: 3px;
}

.case-icon {
    float: left;
    position: relative;
    width: 48px;
    top: 6px;
    margin: 0 20px 20px 0;
}

.case p {
    margin-top: 0;
}

.case-launch {
    margin-left: 0;
}

.gallery .note {
    max-width: 900px;
    margin: 50px auto 0 auto;
    font-size: 14px;
    line-height: 1.5;
}

.gallery a {
    color: hsl(196,100%,50%);
}

.gallery a:hover {
    color: hsl(196,100%,60%);
}

.gallery a:active {
    color: hsl(196,100%,40%);
}

.gallery .gallery-item-source {
    display: inline-block;
    padding: 0 8px;
    line-height: 1.5;
    color: hsl(0,0%,70%);
    font-size: 12px;
    border-radius: 20px;
    background: hsl(0,0%,30%);
}

.gallery .gallery-item-source:hover {
    background: hsl(200,100%,25%);
}


/* Subnav ----------------------------------------- */

.subnav {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin-right: 40px;
    margin-top: 12px;
}
@media (max-width: 1080px) {
    .subnav {
        display: none;
    }
}

.subnav details {
    padding: 0 0 20px 0;
}

.subnav summary {
    padding: 5px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: hsl(0, 0%, 30%);
}

.subnav a {
    display: block;
    margin-left: 9px;
    padding: 5px 5px 5px 20px;
    border-left: 2px solid hsl(0,0%,85%);
    font-size: 14px;
    line-height: 1.3;
    color: hsl(0, 0%, 50%);
}

.subnav a:hover {
    color: hsl(0, 0%, 20%);
    background-color: hsla(210,0%,0%,.05);
    border-color: hsl(210,100%,50%);
}

.subnav a:active,
.subnav a.active {
    color: hsl(0,0%,100%);
    text-shadow: none;
    border-left-color: transparent;
    background-color: hsla(210,100%,50%,1);
}

.subnav a[href^="http"]:after {
     content: "";
     display: inline-block;
     margin-left: 8px;
     width: 8px;
     height: 8px;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJElEQVQ4EY1SwWrCQBB1jSHQkxe/wv5ET+3FDxD8iuBBgiUJgfRQsZCL3+BXaD+iR496kRw8WLo1SfteYGEJg8nAZGbn7Xsz2V0VhmESRdFrT7A4jn2UV3AlwHWpr5RaQuBd2gDxdVVVU2Bawlnr8wOROboNmTcN9S1qL/BLE+O6FpAAu4ZJ9mVZTlC72XXmnQSCIBg5jrPBfhf+Q6KxVgGSPc/bgTCGfxVF8Yj42UmgSdZaPyVJcsjz/BkCPJvewCg1o0RO0/TMfVmWaRz8FLd3EgXukU2jPxhyXzwD13VnAOt/5timsyHbURTA3X/gAfltZAqJv0CAIoxtJk7QRrJxe4IHdP21wXs5Xuc3cXuCI9bXro4rfKOAPQHXnQ3vYIGJb/8a4nf/5LC60AAAAABJRU5ErkJggg==) no-repeat center;
     background-size: 8px;    
}




/* Paging ----------------------------------------- */

.paging {
    border-top: 1px solid hsla(0,0%,0%,.1);
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
}

.paging--prev:before {
    content: "←";
    margin-right: 4px;
}
.paging--next:after {
    content: "→";
    margin-left: 4px;
}


/* Docs page ----------------------------------------- */

.docs .markdown-body {
    display: inline-block;
    vertical-align: top;
    width: 776px;
}
@media (max-width: 1080px) {
    .docs .markdown-body {
        width: 100%;
    }
}

.docs img {
    max-width: 100%;
}

.docs ol li {
    margin: 1em 0;
}

.docs ul li {
    margin: .3em 0;
}

.docs .highlight ::-moz-selection { background: hsl(50,5%,50%); color: white; text-shadow: none; }
.docs .highlight ::selection { background: hsl(50,5%,50%); color: white; text-shadow: none; }

.docs .highlight pre { 
    margin: 0;
    padding: 20px;
    color: hsl(60, 15%, 36%);
    border-radius: 6px;
    border: 1px solid hsl(60, 20%, 86%);
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.04), 0 1px 0 hsla(0, 0%, 100%, 0.6);
    background-color: hsl(60, 40%, 94%);
}

.docs code {
    padding: 0 4px;
    border-radius: 4px;
    border: 1px solid hsl(60, 20%, 86%);
    background-color: hsl(60, 40%, 94%);
}

.docs pre > code { 
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.docs .edit {
    border: 1px solid hsl(0,0%,80%);
    padding: .5em 1em;
    border-radius: 2em;
    position: absolute;
    right: 0;
    top: -32px;
}

.docs .button.disabled {
    visibility: hidden;
}


/* Community page ----------------------------------------- */

.community {
    padding: 60px 40px 60px 240px;
}

.community article {
    max-width: 800px;
}


/* Blog ----------------------------------------- */

.blog article {
    max-width: 800px;
}

.blog-index {
    padding: 0;
    font-size: 1.2em;
    line-height: 1.4;
    list-style: none;
}

.blog-index-item {
    padding: 1.5em 0;
    border-bottom: 1px solid #ddd;
}

.blog-index-title {
    margin: 0 0 .4em 0;
}

.blog-time {
    font-weight: normal;
    font-size: .6em;
    color: #999;
    margin-left: .4em;
}

.blog-index-item p {
    display: inline;
    margin: 0;
}

/* Themes ----------------------------------------- */

body {
    /* Removes flicker */
    -webkit-backface-visibility: hidden;
}

.header-themes {
    position: relative;
    height: 580px;
    overflow: hidden;
    text-align: center;
}

.themes-tablet,
.themes-phone {
    position: absolute;
    -webkit-transition: -webkit-transform .6s;
}

.header-themes:hover .themes-tablet {
    -webkit-transform: translateX(-60px);
    -webkit-transition-duration: .2s;
}
.themes-tablet {
    left: 50%;
    margin-left: -450px; 
}

.header-themes:hover .themes-phone {
    -webkit-transform: translateX(60px);
    -webkit-transition-duration: .2s;
}
.themes-phone {
    top: 104px;
    left: 50%;
    margin-left: 200px;
}

.themes-icon {
    float: left;
    margin: 0 10px 10px 0;
}


.themes-gallery a {
    display: block;
    position: relative;
    overflow: hidden;
    
}

.themes-gallery a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: hsl(210,75%,57%);
    -webkit-transition: width .2s;
}

.themes-gallery a:hover:before {
    width: 10px;
    -webkit-transition-duration: .08s;
}

.themes-gallery a:active:before {
    width: 2px;
    -webkit-transition-duration: .04s;
}

.themes-gallery img {
    display: block;
    max-width: 100%;
}

