/* Skeleton Skin
 * A Skin is just a custom styling on top of the Montage Skeleton Theme 
 */


/* Action ------------------------------- */
.skinB .montage-Button,
.skinB .montage-InputRange-thumb {
    color: hsl(0,0%,80%);
    text-shadow: 0 1px 0px hsla(0,0%,0%,.8);
    border-radius: 20px;
    border-color: hsl(0,0%,20%);
    box-shadow: inset 0 1px 0px hsla(0,0%,100%,.1), inset 0 -1px 3px hsla(0,0%,100%,.1);
    background-color: hsl(0,0%,20%);
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0) );
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0) );
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0) );
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0) );
    background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0) );
}

.skinB .montage-Button:hover,
.skinB .montage-InputRange-thumb:hover {
    background-color: hsl(0,0%,30%);
}
.skinB .montage-Button:active,
.skinB .montage-InputRange-thumb:active {
    background-color: hsl(0,0%,10%);
}

/* Track ------------------------------- */
.skinB .montage-InputRange,
.skinB .montage-Progress {
    border-color: hsl(0,0%,30%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.2), 0 1px 0px hsla(0,0%,100%,.7);
    background-color: hsl(0,0%,75%);
}

/* Range ------------------------------- */
.skinB .montage-InputRange {
    height: 16px;
    margin-top: 27px; /* just for the demo */
    margin-bottom: 27px; /* just for the demo */
}

.skinB .montage-InputRange-thumb {
    width: 32px;
    height: 16px;
    margin-top: -8px;
}

.skinB .montage-InputRange {
    border-radius: 20px;
}

/* Progress ------------------------------- */

.skinB .montage-Progress-bar {
    background-color: hsl(0,0%,30%);
    background-image: -webkit-repeating-linear-gradient(-45deg, hsla(0,0%,100%,.2), hsla(0,0%,100%,.2) 3px, hsla(0,0%,100%,0) 3px, hsla(0,0%,100%,0) 6px );
    background-image:    -moz-repeating-linear-gradient(-45deg, hsla(0,0%,100%,.2), hsla(0,0%,100%,.2) 3px, hsla(0,0%,100%,0) 3px, hsla(0,0%,100%,0) 6px );
    background-image:     -ms-repeating-linear-gradient(-45deg, hsla(0,0%,100%,.2), hsla(0,0%,100%,.2) 3px, hsla(0,0%,100%,0) 3px, hsla(0,0%,100%,0) 6px );
    background-image:      -o-repeating-linear-gradient(-45deg, hsla(0,0%,100%,.2), hsla(0,0%,100%,.2) 3px, hsla(0,0%,100%,0) 3px, hsla(0,0%,100%,0) 6px );
    background-image:         repeating-linear-gradient(-45deg, hsla(0,0%,100%,.2), hsla(0,0%,100%,.2) 3px, hsla(0,0%,100%,0) 3px, hsla(0,0%,100%,0) 6px );
}
