/* Skeleton Skin
 * A Skin is just a custom styling on top of the Montage Skeleton Theme 
 */


/* Action ------------------------------- */
.skinA .montage-Button,
.skinA .montage-InputRange-thumb,
.skinA .montage-Progress-bar {
    color: #fff;
    font-weight: bold;
    border-color: #407fbf;
    box-shadow: inset 0 1px 0px hsla(0,0%,100%,.4),
                inset 0 -1px 1px hsla(0,0%,0%,.2), 
                0 4px 5px -2px hsla(0,0%,0%,.3);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
    background-image:    -moz-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
    background-image:     -ms-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
    background-image:      -o-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
    background-image:         linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,50%) );
}
.skinA .montage-Button:hover,
.skinA .montage-InputRange-thumb:hover {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
    background-image:    -moz-linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
    background-image:     -ms-linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
    background-image:      -o-linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
    background-image:         linear-gradient(top, hsl(210,100%,75%), hsl(210,100%,55%) );
}
.skinA .montage-Button:active,
.skinA .montage-InputRange-thumb:active {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:    -moz-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:     -ms-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:      -o-linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
    background-image:         linear-gradient(top, hsl(210,100%,65%), hsl(210,100%,45%) );
}


/* Track ------------------------------- */
.skinA .montage-inputRange,
.skinA .montage-Progress {
    border-color: hsl(0,0%,60%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 
                0 1px 0px hsla(0,0%,100%,.6);
    background-color: hsl(0,0%,80%);
}
