/* These Styles get used on the home and some sub-pages */


/* Teaser ------------------------------------------- */

.teaser {
    background: #222 url(../images/teaser-bg.jpg) no-repeat center center;
    background-size: 1400px auto;
    border-top: none;
}

.teaser .wrapper {
    position: relative;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    line-height: 1.5;
}

.teaser p {
    margin-top: 0;
}

/* Steps ------------------------------------------- */

.teaser.is-step2 .teaser-step1 {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-40px);
    transition: opacity .3s cubic-bezier(.47, .05, .96, .55),
                -webkit-transform .3s cubic-bezier(.47, .05, .96, .55),
                visibility 0 .3s;
}

.teaser-step2 {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(40px);
}

.teaser.is-step2 .teaser-step2 {
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transition: opacity .3s .2s cubic-bezier(0, .30, .20, .96),
                -webkit-transform .3s .2s cubic-bezier(0, .30, .20, .96);
}


/* Teaser copy ------------------------------------------- */

.teaser-thanks {
    font-size: 48px;
    text-align: center;
}

.teaser-intro {
    font-size: 26px;
}

.teaser-intro--large {
    font-size: 38px;
    text-align: justify;
}

.teaser-info {
    font-size: 18px;
}

.teaser-info--large {
    font-size: 20px;
    -webkit-columns: 2;
}


/* Teaser button ------------------------------------------- */

.teaser-button {
    display: block;
    margin: 1em auto 0 auto;
    font-family: inherit;
    font-size: 38px;
    font-weight: 300;
    color: inherit;
    outline: none;
    border: none;
    background-color: transparent;
}

.teaser-button.is-hidden {
    display: none;
}

.teaser-button:hover {
    color: hsl(0,0%,90%);
}

.teaser-button:active {
    color: hsl(0,0%,50%);
}

.teaser-button-icon {
    display: block;
    margin: 0 auto;
    transition: -webkit-transform .4s;
    width: 30px;
    pointer-events: none;
}

.teaser-button:hover .teaser-button-icon {
    -webkit-transform: translateY(6px);
    transition-duration: .2s;
}

.teaser-button:active .teaser-button-icon {
    -webkit-transform: translateY(3px);
    transition-duration: .1s;
}


/* Teaser Form ------------------------------------------- */

.teaser--home .teaser-form {
    margin: 2em auto 0 auto;
}

.teaser-form {
    max-width: 500px;
    padding: 2em;
    border-radius: 1em;
    border: 6px solid hsla(0, 0%, 0%, 0.2);
    background-color: #fff;
    background-clip: padding-box;
}



/* Responsive ----------------------------------------- */

@media all and (max-width: 800px) { 
    
    .teaser-intro {
        font-size: 20px;
    }
    
    .teaser-intro--large {
        text-align: left;
    }
    
    .teaser-info {
        font-size: 16px;
    }
    
    .teaser-info--large {
        -webkit-columns: 1;
    }
    
    .teaser-button {
        margin-top: 0;
        font-size: 28px;
    }
    
    .teaser-form {
        padding: 1em;
        border: none;
        border-radius: .5em;
    }
    
    .teaser--home .teaser-form {
        margin-top: 1em;
    }
}