---
layout: api
title: <?js= title ?>
---

    <!--<h1 class="page-title"><?js= title ?></h1>-->

    <section id="docs">
        <?js= content ?>
    </section>

    <nav class="docs">
        <?js= this.nav ?>
    </nav>