---

layout: api
title: "<?js= title ?> - MontageJS API"

---

<nav class="subnav js-api-subnav">
    <?js= this.nav ?>
</nav>

<div class="main">
    <div class="content">
    	<?js= content ?>
    </div>
    {% include comments.html %}
</div>
