---

layout: api
title: "<?js= title ?> - MontageJS API"

---

<nav class="subnav js-api-subnav">
    <?js= this.nav ?>
</nav>

<div class="main">
    <article class="content">
    	<?js= content ?>
    </article>
    {% include comments.html %}
</div>

<script>
(function() {
    var codeBlocks = document.querySelectorAll("code[class|='lang']");

    // Add "prettyprint" class name to each code block that defines a lang
    // because it is needed for prettify to find the block.
    for (var i = 0, block; block = codeBlocks[i]; i++) {
        block.className += " prettyprint";
    }

    window.prettyPrint();
})();
</script>