<?js
var self = this;
var data = obj;
if (name.indexOf('_') !== 0) {
?>
<dt>
    <h4 class="name" id="<?js= id ?>">
        <?js=
            name +
            (data.signature ? data.signature : '') +
            ' ' +
            data.attribs
        ?>
        <?js if (data.meta) { ?>
            <span class="source"><?js= self.sourceLink(data.meta.filename, data.meta.lineno, 'source') ?></span>
        <?js } ?>
    </h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>

    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
<?js } ?>
