/* Themes ----------------------------------------- */

.themes ul {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

.themes li {
    display: inline-block;
    width: 24%;
    padding: 20px 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    border: 0;
    border-left: 1px solid hsl(0,0%,82%);
    -webkit-border-image: -webkit-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.06), hsla(0,0%,0%,0) );
       -moz-border-image:    -moz-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.06), hsla(0,0%,0%,0) );
        -ms-border-image:     -ms-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.06), hsla(0,0%,0%,0) );
         -o-border-image:      -o-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.06), hsla(0,0%,0%,0) );
            border-image:         linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.06), hsla(0,0%,0%,0) );
}

.themes li:first-child {
    border-left: 0;
}


.themes h4 {
    font-weight: normal;
    margin: 0 0 40px 0;
    color: hsl(0,0%,50%);
}
.themes .hl {
    color: hsl(200,100%,45%);
}

.themes .montage-Button {
    font-family: "Lucida Grande", Lucida, sans-serif;
}

.themes .montage-InputRange {
    width: 100%;
    margin: 30px 0;
}

.themes .montage-Progress {
    width: 100%;
}

@media all and (max-width: 800px) {
    
    .themes .logo {
        display: none;
    }
    .themes li {
        display: block;
        width: 100%;
        padding: 40px 20px;
        border: 0;
    }
    .themes h4 {
        border-bottom: 1px dashed hsl(0,0%,80%);
        margin: 0 0 20px 0;
        padding-bottom: 5px;
    }

}