<!doctype html>

<html>
    <head>
        <title>Calculator</title>
        <link rel="stylesheet" href="main.css" />
        <link rel="stylesheet" href="../../asset/style/mobile.css" />
        
        <script type="text/montage-serialization">{"calculator":{"prototype":"components/calculator.reel","properties":{"element":{"#":"calculator"}}},"tape":{"prototype":"components/tape.reel","properties":{"element":{"#":"tape"}}},"owner":{"prototype":"components/main.reel","properties":{"element":{"#":"mainElement"},"calculator":{"@":"calculator"},"tape":{"@":"tape"}}}}</script>
    </head>
    <body>
        <div data-montage-id="mainElement" class="main">
            <div data-montage-id="calculator" class="calculator"></div>
            <div data-montage-id="tape" class="tape"></div>
        </div>
    </body>
</html>