---

layout: default
blog: true

---

<section id="blog" class="blog withSubnav">
    <div class="wrapper">

        {% include subnav-toggle.html %}

        <nav class="subnav subnav--noDetails">
            {% for post in site.posts %}
              <a {% if page.title == post.title and page.date == post.date %}class="active"{% endif %} href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
        </nav>

        <div class="main">

            <article class="content">
                <h1>{{ page.title }}</h1>
                <div class="blog-meta">
                    <time class="blog-time">{{ page.date | date: "%B %d %Y" }}</time>
                    Posted by <a class="blog-author" href="{{ page.author_url }}" target="_blank">{{ page.author }}</a>
                </div>
                {{content}}
            </article>

            {% include comments.html %}

        </div>

    </div>
</section>
