---
layout: default
docs: true
---

    <section id="docs" class="docs">
        
        <article>
            
            <nav class="subnav">
                
                <details open>
                    <summary>I'm new</summary>
                    <a href="Quick-Start.html">Quick Start</a>
                </details>
                
                <details open>
                    <summary>I wanna play</summary>
                    <a href="http://montagejs.github.io/mfiddle/">MFiddle</a>
                    <a href="Kitchen-Sink.html">Kitchen Sink</a>
                    <a href="/apps/">Sample Apps</a>
                </details>
                
                <details open>
                    <summary>I wanna learn</summary>
                    <a href="Repetition.html">Repetition</a>
                    <a href="Substitution.html">Substitution</a>
                    <a href="Overlay.html">Overlay</a>
                    <a href="Native-components.html">Native components</a>
                    <a href="Extending-components.html">Extending components</a>
                    <a href="Montage-objects.html">Montage objects</a>
                    <a href="Serialization-format.html">Serialization format</a>
                    <a href="Data-binding.html">Data binding</a>
                    <a href="Event-handling.html">Event handling</a>
                    <a href="Draw-cycle.html">Draw cycle</a>
                    <a href="Gestures.html">Gestures</a>
                    <a href="Blueprints.html">Blueprints</a>
                </details>
                
                <details open>
                    <summary>Help</summary>
                    <a href="Troubleshooting.html">Troubleshooting</a>
                    <a href="FAQ.html">FAQ</a>
                </details>
                
            </nav>
            
            <a href="https://github.com/montagejs/montagejs.org/tree/gh-pages/{{page.path}}" class="edit">Improve this</a>
            
            <div class="markdown-body">
                
                {{content}}

            </div>
            
            <nav class="paging">
                <a class="button paging--prev {% if page.prev-page == null %}disabled{% endif %}" href="/docs/{{ page.prev-page }}.html">Prev</a>
                <a class="button paging--next {% if page.next-page == null %}disabled{% endif %}" href="/docs/{{ page.next-page }}.html">Next</a>
            </nav>
            
        </article>
        
    </section>
    
    {% include comments.html %}
    {% include help.html %}