---
layout: default
docs: true
---

    <section id="docs" class="docs">
        <article>
        
            <a href="https://github.com/montagejs/montagejs.org/tree/gh-pages/{{page.path}}" class="edit">Improve this</a>
            
            <div class="markdown-body">

                {{content}}

            </div>
            
            <!--<nav class="paging">
                {% if page.prev-page != null %}
                    <a href="/docs/{{ page.prev-page }}.html" class="paging--prev">Prev</a>
                {% endif %}
                {% if page.next-page != null %}
                    <a href="/docs/{{ page.next-page }}.html" class="paging--next">Next</a>
                {% endif %}
            </nav>-->
            
        </article>
    </section>
    
    <nav class="subnav">
        
        <details open>
            <summary>I'm new</summary>
            <a href="Quick-Start.html">Quick Start</a>
        </details>
        
        <details open>
            <summary>I wanna play</summary>
            <a href="http://montagejs.github.io/mfiddle/">MFiddle</a>
            <a href="Kitchen-Sink.html">Kitchen Sink</a>
            <a href="/apps/">Sample Apps</a>
        </details>
        
        <details open>
            <summary>I wanna learn</summary>
            <a href="Repetition-component.html">Repetition component</a>
            <a href="Substitution-component.html">Substitution component</a>
            <a href="Overlay-component.html">Overlay component</a>
            <a href="Native-components.html">Native components</a>
            <a href="Extending-components.html">Extending components</a>
            <a href="Montage-objects.html">Montage objects</a>
            <a href="Montage-serialization-format.html">Montage serialization format</a>
            <a href="Data-binding.html">Data binding</a>
            <a href="Event-handling.html">Event handling</a>
            <a href="Component-draw-cycle.html">Draw cycle]</a>
            <a href="Gestures.html">Gestures</a>
            <a href="Blueprints.html">Blueprints</a>
        </details>
        
        <details open>
            <summary>Help</summary>
            <a href="Troubleshooting.html">Troubleshooting</a>
            <a href="FAQ.html">FAQ</a>
        </details>
        
    </nav>
    
    {% include comments.html %}
    {% include help.html %}