---
layout: default
themes: true
---
    
    <section class="header-themes pushed">
        <img class="themes-tablet" src="/images/themes-tablet.png" alt="">
        <img class="themes-phone" src="/images/themes-phone.png" alt="">
    </section>
    
    
    <section id="themes" class="themes">
        <article>
            <h1>{{ page.title }}</h1>
            <div class="main">
                {{content}}
            </div>
        </article>
    </section>
    
    {% include social.html %}