/* Team ----------------------------------------- */

.landing .team img {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    border: 4px solid white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px hsla(0,0%,0%,.3);
}
